// colors
$jade: #0ca678;
$white: #ffffff;
$tiffany: #09adc3;
$blue-teal: #15aabf;
$gainsborough: #e2e2e2;
$green-crayola: #12b886;
$twitter-color: #228be6;
$very-pale-blue: #eeeff1;
$dark-blue-crayola: #207ed5;
