@import "../../styles/variables";

.header {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: $very-pale-blue;

  &_nav {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &_item {
      background-color: $twitter-color;
      color: $white;
      font-weight: 800;
      padding: 7px 10px;
      margin-left: 20px;
      border-radius: 8px;

      &.active {
        background-color: $tiffany;
      }

      &:hover {
        background-color: $tiffany;
      }
    }
  }
}
